<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Series</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-fab vertical ="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
  <!-- </ion-fab> -->


  <ion-card>
    <ion-card-header>
  
      <img src="/assets/img/gotposter.jpg" alt="">
      <ion-card-subtitle> Drama, Aventura</ion-card-subtitle>
  
      <ion-item>
        <ion-card-title> Game of Thrones </ion-card-title>
        <ion-chip slot="end"> 4.7</ion-chip>
      </ion-item>
  
    </ion-card-header>
      
    <ion-card-content>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-button (click)="presentToast()" fill="outline"> QUERO VER</ion-button>
        <ion-button (click)="alerta()" fill="outline"> JÁ VI</ion-button> 
      </ion-row>
      
  
    </ion-card-content>
  
  </ion-card>
  
  <ion-card>
    <ion-card-header>
  
      <img src="/assets/img/gotposter.jpg" alt="">
      <ion-card-subtitle> Drama, Aventura</ion-card-subtitle>
  
      <ion-item>
        <ion-card-title> Game of Thrones </ion-card-title>
        <ion-chip slot="end"> 4.7</ion-chip>
      </ion-item>
  
    </ion-card-header>
      
    <ion-card-content>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-button (click)="presentToast()" fill="outline"> QUERO VER</ion-button>
        <ion-button (click)="alerta()"  fill="outline"> JÁ VI</ion-button> 
      </ion-row>
      
  
    </ion-card-content>
  
  </ion-card>
  
  <ion-card>
    <ion-card-header>
  
      <img src="/assets/img/gotposter.jpg" alt="">
      <ion-card-subtitle> Drama, Aventura</ion-card-subtitle>
  
      <ion-item>
        <ion-card-title> Game of Thrones </ion-card-title>
        <ion-chip slot="end"> 4.7</ion-chip>
      </ion-item>
  
    </ion-card-header>
      
    <ion-card-content>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-button (click)="presentToast()" fill="outline"> QUERO VER</ion-button>
        <ion-button (click)="alerta()" fill="outline"> JÁ VI</ion-button> 
      </ion-row>
      
  
    </ion-card-content>
  
  </ion-card>

  <!-- <ion-fab vertical ="top" horizontal="end" slot="fixed"></ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-content> -->

