<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let post of dadosPost" class="welcome-card">
    <!-- <img src="/assets/shapes.svg" alt=""/> -->
    <ion-card-header>

      <div class="header">
        <div class="user">
          <ion-card-title>{{post.nome_user}}</ion-card-title>
          <ion-card-subtitle>{{post.username}}</ion-card-subtitle>
        </div>

        <div class="alerta">
          <ion-icon *ngIf="post.status_spoiler" size="large" name="alert" color="warning"></ion-icon>
        </div>
      </div>


    </ion-card-header>
    <ion-card-content>

      <div class="texto">
        {{post.texto}}
      </div>

      <!-- <div class="likeandunlike"> -->
          <ion-icon size ="large" name="thumbs-up" (click)="like(post)" color="{{ post.status_like ? 'primary' : 'dark'}}"></ion-icon>{{post.num_likes}}
          <ion-icon size ="large" name="thumbs-down" (click)="unlike(post)" color="{{ post.status_unlike ? 'primary' : 'dark'}}"></ion-icon>{{post.num_unlikes}}
      <!-- </div> -->








        <!-- <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <p>{{post.texto}}</p>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-icon size ="large" name="thumbs-up" (click)="like(post)" color="{{ post.status_like ? 'primary' : 'dark'}}"></ion-icon>
                  <p>{{post.num_likes}}</p>
                  <ion-icon size ="large" name="thumbs-down" (click)="unlike(post)" color="{{ post.status_unlike ? 'primary' : 'dark'}}"></ion-icon>
                    <p>{{post.num_unlikes}}</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid> -->



    </ion-card-content>
  </ion-card>




  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
